* {
    margin: 0;
    padding: 0;
}

menu {
   display: flex;
   flex-direction: row;
   height: 200px;
   background-color: #000000;

}



.menu_izquierdo {
   background-color: #c20101f5;
   width: 25%;
   display: flex; 
   flex-direction: row;
   justify-content: center;
   align-items: center;

}

.menu_izquierdo img{
    width: 500px;
    height: 300px;
   

}
.menu_derecho {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding-right: 50px;
    
   
}


.menu_derecho a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 20px;
    
}

.main-header {
    width: 100%;
    height: 650px;
    background-color: #ff0000;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-principal {
    width: 100%;
    height: 600px;
    font-size: 40px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}  

.card-list{
    width: 100%;
    height:1500px;
    background-color: #ff0000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   
}

.card-item {
    width: 27%;
    height: 650px;
    border: #000000 solid 2px;
    border-radius: 5px;
    overflow: hidden;
}

.card-item img {
    width: 100%;
    height: 350px;
}

.card-info {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.card-title {
font-size: 25px;
font-weight: bold;
text-align: center;
padding: 10px;

}

.card-desc {
font-size: 18px;
text-align: left;
padding: 10px;
}

.boton-cta {
    width: 90%;
    height: 300%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content:flex-end;
    margin: 0 30px 30px 0;

}

.card-cta {
text-decoration: none;
width: 100px;
height: auto;
background-color: rgb(255, 255, 255);
padding: 10px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
border: 1px solid rgb(0, 0, 0);
border-radius: 5px;
}

.card-cta:hover {
    transform: scale(1.02);
    background-color: rgb(0, 0, 0);
}

@media (max-width: 768px) {

    menu {
        background-color: transparent;
        height: 200px;
        border:#000000 solid 5px;
        border-radius: 20px; 
        justify-content: space-between;
    }

   .menu_izquierdo {
      width: 45%;
      justify-content: center;
      background-color: transparent;
   }

   .menu_derecho {
      display: none;  
   }

   .menu_container {
        width:15%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
   }

.menu_container .hamburger_icon {
   
    width: 35px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
}

.menu_container .hamburger_icon span {
    background-color: rgb(0, 0, 0);
    height: 4px;
    width: 100%;
    display: block; 
    border-radius: 2px;
    

}

.menu_derecho_open {
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: auto;
    background-color: #000000;
    border: solid #ff0000;
    border-radius: 10px;
    
    }

    .menu_derecho_open a {
        padding: 0; 
        margin-right: 0;
        font-size: 18px;
    }   




}