* {
    margin: 0;
    padding: 0;
}

menu {
   display: flex;
   flex-direction: row;
   height: 240px;
   background-color: #02008e;

}



.menu_izquierdo {
   background-color: #e10000;
   width: 35%;
   display: flex; 
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;

}

.menu_izquierdo img{
    
    width: 600px;
    height: 350px;
    
}

.menu_derecho {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding-right: 50px;
    
   
}


.menu_derecho a {
    text-decoration: underline;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 30px;
    
}

.menu_derecho a:hover{
    transform: scale(1.05);
    
}

.main-header {
    width: 100%;
    height: 500px;
    background-image: url(https://www.mundodeportivocr.com/images/noticias/motores/AMA-Superbike-Final-2025.png#joomlaImage:/local-images/noticias/motores/AMA-Superbike-Final-2025.png?width=800&height=600);
    background-repeat: auto;
    background-size: auto;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;

}



.card-list{
    width: 100%;
    height:1500px;
    background-color: #cb0000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card-item {
    width: 27%;
    height: 650px;
    background-color: #ff8c00;
    border: #000000 solid 2px;
    border-radius: 5px;
    overflow: hidden;
    
}

.card-item img {
    width: 100%;
    height: 320px;
}

.card-info {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.card-title {
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    background-color: #ff0000a3;

}

.card-desc {
    font-size: 20px;
    text-align: left;
    padding: 12px;
    color: #000000;
}


.boton-cta {
    width: 90%;
    height: 300%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content:flex-end;
    margin: 0 30px 30px 0;

}

.card-cta {
    text-decoration: none;
    width: 100px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.581);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.card-cta:hover {
    transform: scale(1.02);
    background-color: rgba(255, 0, 0, 0.695);
}


.main-accordion-container {
    width: 98%;
    height: 350px;
    background-image: url(https://media.istockphoto.com/id/528312749/vector/abstract-background.jpg?s=612x612&w=0&k=20&c=OdPZdWR-eTEYvLf5WRRNZkLbDwqEDb3sNEkAZyu14pE=);
    background-repeat: auto;
    background-size: round;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 20px;
    color: #ffffff;
   
}

.accordion-title {
    font-size: 27px;
    font-weight: bold; 
    padding: 5px;
    color: #0011ff;
}

.accordion-desc {
    font-size: 21px;
    font-weight: bold;
    padding: 5px;
}


@media (max-width: 768px) {

    menu {
        background-color: rgb(147, 0, 0);
        height: 200px;
        border:#000000 solid 5px;
        border-radius: 20px; 
        justify-content: space-between;
    }

   .menu_izquierdo {
      width: 45%;
      justify-content: center;
      background-color: transparent;
   }

   .menu_derecho {
      display: none;  
   }

   .menu_container {
        width:15%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
   }

.menu_container .hamburger_icon {
   
    width: 35px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
}

.menu_container .hamburger_icon span {
    background-color: rgb(0, 0, 0);
    height: 4px;
    width: 100%;
    display: block; 
    border-radius: 2px;
    

}

.menu_derecho_open {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: auto;
    background-color: #ff4d00;
    border: #000000 solid 3px;
    border-radius: 5px;
    
    }

    .menu_derecho_open a {
        padding: 8px; 
        margin-right: 0;
        font-size: 18px;
        color: #000000;
        font-weight: bold;
    }   

  

    .card-list{
    width: 100%;
    height:auto;
    padding: 30px 0 30px 0;
   
    }

    .card-item{
    width: 80%;
    height: 645px;
    margin-bottom: 10px;
    }

    .card-info {
    height: 250px;

    }

    .card-title{
        font-size: 25px;
    }

    .card-desc {
        font-size: 21px;
    }

    .botom-cta{
        width: auto;
        margin-right: 20px;
        margin-top: auto;
    }

    

}